{
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "env": {
    // "jest/globals": true,
    "cypress/globals": true,
    "node": true,
    "es6": true
  },
  "extends": [
    "eslint:recommended",
    "eslint-config-prettier",
    // "plugin:jest/recommended",
    // "plugin:jest/style",
    "plugin:cypress/recommended",
    "plugin:react/recommended"
  ],
  "plugins": [
    // "jest",
    "cypress",
    "react"
  ],
  "rules": {
    "strict": ["error", "never"],
    "jsx-quotes": ["error", "prefer-double"]
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  }
}
