html {
  font-size: 131.3%; /* 21px */
}
body {
  font-family: 'Atkinson Hyperlegible', sans-serif;
  line-height: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-weight: 400;
  margin: 0 0 1.5rem 0;
}

h1 {
  font-size: 5.653rem;
  line-height: 6rem;
}

h2 {
  font-size: 3.998rem;
  line-height: 4.5rem;
}

h3 {
  font-size: 2.827rem;
  line-height: 3rem;
}

h4 {
  font-size: 1.999rem;
  line-height: 3rem;
}

h5 {
  font-size: 1.414rem;
}

p {
  margin-bottom: 1.5rem;
}

@keyframes enter {
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.enter {
  animation: enter 1s ease-out forwards;
  opacity: 0;
}

.enter--body {
  transform: translate(0, -30px);
  overflow: hidden;
}

.enter--title {
  animation-delay: 500ms;
  opacity: 0;
  transform: translate(-80px, 20px);
}

h1 {
  color: rgba(0, 0, 0, 0.2);
  font-size: 13vw;
  line-height: .7;
  margin: 0;
  text-transform: lowercase;
  height: 8.3vw;
  /* overflow: hidden; */
}

a {
  color: #c791fb;
}

a:visited {
  color: silver;
}

.nav-bar {
  position: relative;
  box-sizing: border-box;
}

.nav-link {
  border-radius: 3px;
  color: white;
  padding: 0 .25em;
  transition: color 200ms ease-out, background 300ms ease-out;
}

.nav-link:hover {
  color: rgba(255,255,255,0.3);
  background: linear-gradient(85deg, #7f4cb1, #3200a4);
}

.nav-list {
  align-items: center;
  background-color: #1c2427;
  display: flex;
  height: 3rem;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0 0 1px 0;
}

.about {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 2em;
  justify-content: center;
  height: 100%;
}

.pages {
  background-color: #1c2b30;
  box-sizing: border-box;
  height: calc(100vh - 8.3vw - 3rem - 1px);
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  overflow-y: auto;
  scroll-behavior: smooth;
  width: 100%;
}

.page {
  box-sizing: border-box;
  flex: 0 0 auto;
  position: relative;
  padding: 0 .5em;
  width: 100%;
}

.tech-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  padding: 0;
}

.tech-list-item {
  text-align: center;
  padding: .5em;
}

.tech-logo {
  width: 100px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}


.list--portfolio,
.list--resume {
  list-style: none;
  padding: 0;
}

.list--portfolio li,
.list--resume li {
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.25);
  margin-bottom: 1em;
  padding: .5em;
}

.visually-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px; width: 1px;
    overflow: hidden;
    position: absolute !important;
}

@media (min-width: 1024px) {
  body {
    background: linear-gradient(145deg, #7f4cb1, #3200a4);
    padding: 0 5rem 5rem 5rem;
  }

  .pages {
    box-shadow: 40px 20px 80px rgba(0, 0, 0, 0.4), -10px -10px 120px rgba(0, 0, 0, 0.2) inset;
    height: calc(100vh - 8.3vw - 3rem - 5rem);
  }

  .page {
    padding: 1em;
  }

  @supports(scroll-snap-type: mandatory) {
    .pages {
      display: flex;
      overflow-y: hidden;
      scroll-snap-type: mandatory;
      scroll-snap-points-x: repeat(100%);
    }

    .page {
      height: 100%;
      overflow-y: auto;
    }
  }

  @supports(scroll-snap-type: x mandatory) {
    .pages {
      display: flex;
      scroll-snap-type: x mandatory;
      overflow-y: hidden;
    }

    .page {
      height: 100%;
      overflow-y: auto;
      scroll-snap-align: start;
    }
  }
}